<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
    NOT: ros2_control'e geçildi.
    Diferansiyel sürücü, lift pozisyon kontrolü ve joint_state yayını
    artık urdf/control/ros2_control.xacro üzerinden controller_manager
    (ign_ros2_control) tarafından sağlanıyor.

    Bu dosya yalnızca eski kurulumla geri uyumluluk için tutuluyor;
    robot.urdf.xacro içinde include edilmiyor.
  -->

</robot>
